html {
    background-color: #C1DFF5;
    margin: auto;
    padding: auto;
}

.container {
    margin: auto;
    margin-top: 3%;
    padding: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #90B86F;
    width: 600px;
    border-radius: 18px;
}

h1 {
    font-size: 3em;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

p {
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
}

img {
    width: 80%;
    margin: auto;
    display: block;
}

button {
    padding: 2%;
    background-color: #D1ECBB;
    border: none;
    border-radius: 18px;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    align-items: center;
    
}

button:hover {
    transform: scale(120%);
}